@import "Variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
// Create your own map
$custom-colors: (
    'gray':$gray,
     'orange-light':$orange-light
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

.text-gradient{
  background: #fe8c00;
  background: -webkit-linear-gradient(to right, #fe8c00, #f83600);
  background: linear-gradient(to right, #fe8c00, #f83600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}


@mixin orange_gradient{
  /* ff 3.6+ */
  background:-moz-linear-gradient(-90deg, $primary 0%, $secondary 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(-90deg, $primary 0%, $secondary 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(-90deg, $primary 0%, $secondary 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F83600', endColorstr='#FE8C00', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(-90deg  $primary 0%, $secondary 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(-90deg, $primary 0%, $secondary 100%);

}


.primary-gradient{
  @include orange_gradient
}

.line{
  height: 4px;
  width: 10%;
  background: #ccc;
}